.light{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    overflow: hidden;
}

.on{
    background-color: yellow;
}

.off{
    background-color: black;
    color: white;
}